/* --- Base --- */
@import 'base/reset.css';
@import 'base/variables.css';
@import 'base/typography.css';

/* --- Layout --- */
@import 'layout/grid.css';

/* --- Components --- */
@import 'components/loader.css';
@import 'components/hero.css';
@import 'components/projects.css';
