#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg);
    color: var(--color-text);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-sans);
    font-size: var(--font-size-h3);
}

.loader-progress {
    position: absolute;
    bottom: var(--spacing-sm);
    left: var(--spacing-sm);
    font-size: var(--font-size-small);
}
